body{
    font-family: "Poppins", sans-serif;
}
.bg-1{
    width: 1440px;
    height: 1024px;
    background: linear-gradient(116.82deg, #ADD8E6 0%, #FFFFFF 100%);;
}
.text-1{
    padding-top: 342px; 
    padding-left: 230px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4b77be;
}
.btn{
    display: inline-block;
    position: absolute;
    width: 204px;
    height: 64px;
    left: 500px;
    top: 650px;
    cursor: pointer;
    background: #4B77BE;
    border-radius: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
